#cuerpo{

    width:100vw;
    height: 95.5vh;
    background-color: grey;
    display: flex;

    padding: 10px;

    #nombreArtista{
        width: 100%;
        height: 40x;
        font-size: 40px;
        font-weight: bold;
        p{
            text-align: left;
        }
        
    }

}